body {

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.navbar {
  background-color: transparent;
}

.card.equal-height {
  height: 100%;
}

.is-horizontal-center {
  justify-content: center;
}


.card,
.card-content.logo {
  border-radius: 30px;
  box-shadow: 0px 30px 30px 0px rgba(10, 22, 31, 0.26);
}

.product-availability .panel-block {
  border: none;
}

.product-availability .panel-icon {
  height: 24px;
  width: 24px;
}

.image.is-contained img{
  -o-object-fit: contain;
  object-fit: contain;
}

.search-result{
  position: absolute;
  left: 0;
}

.search-result .card-header{
  box-shadow: none;
}

.search-result a.card-header-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 1.25rem;
  margin-left: 0.25rem;
}

.search-result img{
  margin-right: 1rem;
}