<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="CIB Digital Tech Assessment">
    <title>@ViewData["Title"] - Phone Book</title>
    <base href="/">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
          integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/site.css">

    @RenderSection("Styles", required: false)
</head>
<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                CIB Phone Book
            </a>
        </div>
        <div class="navbar-item is-expanded">
            <div class="control">
                <input class="input is-rounded" type="text" id="search-box" placeholder="Search entries">
            </div>
        </div>
        <a class="navbar-item pagination-link is-current" asp-page="/PhoneBook/AddPerson">  
            <span>
                Add Person
            </span>
        </a>
    </nav>
</header>
<main>

    @RenderBody()

    <template id="search-result">
        <div class="search-result column is-full-mobile is-6-tablet is-4-widescreen">
            <div class="card">
                <header class="card-header">
                    <a class="card-header-title is-clipped" href="#">
                    </a>
                </header>
            </div>
        </div>
    </template>
</main>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>&copy; 2019</strong>.
        </p>
    </div>
</footer>

<link href="https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap" rel="stylesheet" crossorigin="anonymous">
<script type="module" src="/js/site-search.js" crossorigin="anonymous" defer></script> 

@RenderSection("Scripts", required: false)
</body>
</html>